<h1>Trips Dashboard</h1>

<p>Average duration of a ride (in minutes):
  <%= Trip.average_trip_duration %>
</p>
<p>Longest Ride (in minutes):
  <%= Trip.maximum_trip_duration %>
</p>
<p>Shortest Ride (in minutes):
  <%= Trip.minimum_trip_duration %>
</p>
<p>Station with the most rides as a starting place:
  <%= Trip.station_with_most_rides_as_start_point.first %>
</p>
<p>Station with the most rides as an ending place:
  <%= Trip.station_with_most_rides_as_end_point.first %>
</p>
</br>

<table>
  <caption>Trip Summary: Monthly Breakdown</caption>
  <tr>
    <th>Year<br /> </th>
  	<th>Jan<br /> </th>
  	<th>Feb<br /> </th>
  	<th>Mar<br /> </th>
  	<th>Apr<br /> </th>
    <th>May<br /> </th>
    <th>Jun<br /> </th>
    <th>Jul<br /> </th>
    <th>Aug<br /> </th>
    <th>Sep<br /> </th>
    <th>Oct<br /> </th>
    <th>Nov<br /> </th>
    <th>Dec<br /> </th>
    <th>Total<br /> </th>
  </tr>

  <% @monthly_rides.each_pair do |year,month_hash| %>
    <tr>
      <td><%= year %></td>
      <% month_hash.each_pair do |month,rides| %>
      <td><%= rides %></td>
      <% end %>
    </tr>
  <% end %>
</table>

</br>

<p>Most ridden bike with total number of rides for that bike:
  <%= Trip.most_ridden_bike_and_ride_count %>
</p>
<p>Least ridden bike with total number of rides for that bike:
  <%= Trip.least_ridden_bike_and_ride_count %>
</p>
</br>

<table>
  <caption>User Subscription Summary</caption>
  <tr>
    <th>Subscription Type<br /> </th>
    <th>Count<br /> </th>
  	<th>Percentage<br /> </th>
  </tr>
  <tr>
    <td>Subscriber (annual or 30-day member)</td>
    <td> <%= Trip.subscriber_breakdown %></td>
    <td> <%= Trip.subscriber_percentage %>% </td>
  </tr>
  <tr>
    <td>Customer (24-hour or 3-day member)</td>
    <td> <%= Trip.customer_breakdown %></td>
    <td> <%= Trip.customer_percentage %>% </td>
  </tr>
</table>
</br>

<p>Single date with the highest number of trips with a count of those trips:
  <%= Trip.date_with_highest_number_trips_total %>
</p>
<p>Single date with the lowest number of trips with a count of those trips:
  <%= Trip.date_with_lowest_number_trips_total %>
</p>
</br>

<h2>Trip-Weather Data</h2>
<p>Weather on the day with the highest number of rides: <%= WeatherCondition.weather_on_day_with_highest_rides %></p>
<p>Weather on the day with the lowest number of rides: <%= WeatherCondition.weather_on_day_with_lowest_rides %></p>
