<h1>Trips Dashboard</h1>

<p>Average duration of a ride: <%= %></p>
<p>Longest Ride: <%=  %></p>
<p>Shortest Ride: <%= %></p>
<p>Station with the most rides as a starting place: <%= %></p>
<p>Station with the most rides as an ending place: <%= %></p>
<p>Month-by-month breakdown of number of rides with subtotals for each year: <%= %></p>
<p>Most ridden bike with total number of rides for that bike: <%= %></p>
<p>Least ridden bike with total number of rides for that bike: <%= %></p>
<p>User subscription type breakout with both count and percentage: <%= %></p>
<p>Single date with the highest number of trips with a count of those trips: <%= %></p>
<p>Single date with the lowest number of trips with a count of those trips: <%= %></p>

<h2>Trip-Weather Data</h2>
<p>Weather on the day with the highest number of rides: <%= %></p>
<p>Weather on the day with the lowest number of rides:<%= %></p>
