<% @title = "Edit Trip Info" %>

<div class="form">
<div class="jumbotron">
  <div class="container">
  <form action="/trips/<%= @trip.id %>" method="POST">
  <h1 class="page-header">Edit Trip Information
    <input id="edit-large" class="btn btn-warning btn-small" type="submit" value="Edit"></h1>
    <input type="hidden" name="_method" value="PUT" />

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Duration:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" name="trip[duration]" value="<%= @trip.duration %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Start Date:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" name="trip[start_date]" value="<%= @trip.start_date %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Start Time:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="time" name="trip[start_time]" value="<%= @trip.start_time %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Start Station:</label></div>
  <div class="col-xs-10">
  <div class="dropdown">
    <select id="drop-down-font" class="form_dropdown" name="trip[start_station_id]">
      <ul>
      <option selected="selected" value=""><%= @trip.start_station.name %></option>
      <% @stations.each do |station| %>
        <li><option value="<%= station.id %>"><%= station.name.upcase %></option></li>
      </ul>
      <% end %>
    </select></br></br>
    </div>
  </div>


<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">End Date:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" name="trip[end_date]" value="<%= @trip.end_date %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">End Time:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="time" name="trip[end_time]" value="<%= @trip.end_time %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">End Station:</label></div>
  <div class="col-xs-10">
  <div class="dropdown">
    <select id="drop-down-font" class="form_dropdown" name="trip[end_station_id]">
      <ul>
      <option selected="selected" value=""><%= @trip.end_station.name %></option>
      <% @stations.each do |station| %>
        <li><option value="<%= station.id %>"><%= station.name.upcase %></option></li>
      </ul>
      <% end %>
    </select></br></br>
    </div>
  </div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Bike ID:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" name="trip[bike_id]" value="<%= @trip.bike_id %>" onclick='this.value = "";'/><br/>
  </div>
</div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">User Zip Code:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="text" name="trip[user_zip_code]" value="<%= @trip.user_zip_code %>" /><br/>
  </div>
</div>

<div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Subscription Type:</label></div>
  <div class="col-xs-10">
  <div class="dropdown">
    <select id="drop-down-font" class="form_dropdown" name="trip[subscription_type_id]">
      <option selected="selected" value="<%= @trip.subscription_type_id %>"><%= @trip.subscription_type.subscription_type.upcase %></option>
      <ul>
      <% @subscription_types.sort_by(&:subscription_type).each do |subscription| %>
        <li><option value="<%= subscription.id %>"><%= subscription.subscription_type.upcase %></option></li>
      </ul>
      <% end %>
    </select><br/>

  </div>
</div>
</div>
