<% @title = "All Trips" %>

<div class="all-trips">
<div class="jumbotron">
  <div class="container">
  <h1 class="page-header">All Trips
    <form action="/trips/new" method="GET">
    <input id="create" class="btn btn-warning btn-small" type="submit" value="Create New">
  </form></h1>
  <% @trips.each do |trip| %>
    <div class="trips-summary">
      <ul>
        <li><a href="/trips/<%= trip.id %>">Trip #<%= trip.id %></a></li></br>
        <li>Trip Duration: <%= trip.duration %></li>
        <li>Start Date: <%= trip.start_date %></li>
        <li>Start Time: <%= trip.start_time %></li>
        <li>Start Station name: <%= trip.start_station.name if trip.start_station  %></li>
        <li>End Date: <%= trip.end_date %></li>
        <li>End Time: <%= trip.end_time %></li>
        <li>End Station Name: <%= trip.end_station.name if trip.end_station %></li>
        <li>Bike ID: <%= trip.bike_id %></li>
        <li>Subscription Type: <%= trip.subscription_type.subscription_type%></li>
        <li>User Zip Code: <%= trip.user_zip_code%></li>
        </br>
        </br>
      </ul>
      <form class="format-button" action="/trips/<%= trip.id %>/edit" method="GET">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Edit">
      </form>
      <form class="format-button" action="/trips/<%= trip.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Delete">
      </form>
    </div>
      </br>
      </br>
      </br>
  <% end %>
</div>

<% if @page >= 1%>
  <a id="back-and-forth" href="/trips?page=<%= @page - 1 %>"> &larr; Back &#x7C;&#x7C;</a>
<% end %>
<% unless @end %>
  <a id="back-and-forth" href="/trips?page=<%= @page + 1 %>">Forward &rarr;</a>
<% end %>
