<% @title = "Trip ##{@trip.id}" %>

<div class="show-trip">
<div class="jumbotron">
  <div class="container">
  <h1 class="page-header">Trip #<%= @trip.id %></h1>
  <ul class="list-group">
    <li class="list-group-item">Duration: <%= @trip.duration %></li>
    <li class="list-group-item">Start Date: <%= @trip.start_date %></li>
    <li class="list-group-item">Start Time: <%= @trip.start_time %></li>
    <li class="list-group-item">Departure Station: <%= @trip.start_station.name%></li>
    <li class="list-group-item">Departure Station (ID): <%= @trip.start_station.id %></li>
    <li class="list-group-item">End Date: <%= @trip.end_date %></li>
    <li class="list-group-item">End Time: <%= @trip.end_time %></li>
    <li class="list-group-item">Arrival Station: <%= @trip.end_station.name %></li>
    <li class="list-group-item">Arrival Station (ID): <%= @trip.end_station.id %></li>
    <li class="list-group-item">Bike ID: <%= @trip.bike_id %></li>
    <li class="list-group-item">Subscription Type: <%= @trip.subscription_type.subscription_type %></li>
    <li class="list-group-item">Rider Zip Code: <%= @trip.user_zip_code %></li>
  </ul>
  </br>
<form class="format-button" action="/trips/<%= @trip.id %>/edit" method="GET">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Edit">
      </form>
      <form class="format-button" action="/trips/<%= @trip.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Delete">
</form>
</div>
</div>
