<% @title = "Edit Station Info" %>

<div class="edit-stations">
<div class="jumbotron">
  <div class="container">
  <h1 class="page-header">Edit Station Information</h1>


  <div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Name:</label></div>
  <div class="col-xs-10">
  <form class="edit" action="/stations/<%= @station.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <input class="form-control" type="text" name="station[name]" value="<%= @station.name %>" onclick='this.value = "";'/><br/>
  </div>
  </div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Dock Count:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" name="station[dock_count]" value="<%= @station.dock_count %>" onclick='this.value = "";'/><br/>
  </div>
  </div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Latitude:</label></div>
  <div class="col-xs-10">
  <input class="form-control" type="integer" step="any" name="station[lat]" value="<%= @station.lat %>" onclick='this.value = "";'><br/>
  </div>
  </div>

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Longitude:</label></div>
  <div class="col-xs-10">
    <input class="form-control" type="integer" step="any" name="station[long]" value="<%= @station.long %>" onclick='this.value = "";'><br/>
    </div>
    </div>

<!--<div class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    City
  </button>
  <div class="dropdown-menu">
    <select class="form_dropdown" name="station[city_id]">
      <option selected="selected" value="<%= @station.city_id %>"><%= @station.city.name.upcase %></option>
      <ul>
      <% @cities.sort_by(&:name).each do |city| %>
        <li><option value="<%= city.id %>"><%= city.name.upcase %></option></li>
      </ul>
      <% end %>
    </select><br/>
  </div>
</div>-->

<div class="form group-row">
  <div class="form-id">
  <label for="input" class="col-xs-2 col-form-label">Established:</label></div>
  <div class="col-xs-10">
  <input type="text" class="form-control" name="station[installation_date]" value="<%= @station.installation_date %>" /><br/>
  </div>
  </div>

    <input id="edit-large" class="btn btn-warning btn-lg" type="submit" value="Edit">
  </form>
</div>
</div>


    