<% @title = "All Stations" %>

<div class="all-stations">
<div class="jumbotron">
  <div class="container">
  <h1 class="page-header">All Stations
  <form action="/stations/new" method="GET">
    <input id="create" class="btn btn-warning btn-small" type="submit" value="Create New"/>
  </form></h1>
  
  <div id="map"></div></br></br>
  <% @stations.each do |station| %>
    <div class="station-summary">
      <ul id="stations-text">
        <li class="station-name"><a href="/stations/<%= station.id %>"><%= station.name %></a></li>
        </br>
        <li>Number of bike docks: <%= station.dock_count %></li>
        <li>City: <%= station.city.name %></li>
        <li>Latitude: <%= station.lat %></li>
        <li>Longitude: <%= station.long %></li>
        <li>Established: <%= station.installation_date %></li>
        </br>
        <form class="format-button" action="/stations/<%= station.id %>/edit" method="GET">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Edit">
      </form>
      <form class="format-button" action="/stations/<%= station.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input id="edit" class="btn btn-warning btn-xs" type="submit" value="Delete">
      </form>
      </ul>
    </div>
      </br>
      </br>
      </br>
  <% end %>
</div>
</div>
</div>

<script type="text/javascript">

 var map;
 var markers = [];

 function initMap() {
   map = new google.maps.Map(document.getElementById('map'), {
     center: {lat: 37.329732, lng: -121.90178200000001},
     zoom: 13
   });

   var largeInfoWindow = new google.maps.InfoWindow();
   var bounds = new google.maps.LatLngBounds();

   function addMarker(lat, lng) {
     var marker = new google.maps.Marker({
       position: new google.maps.LatLng(lat, lng),
       map: map,
       name: name,
       animation: google.maps.Animation.DROP
     });

     markers.push(marker);
     bounds.extend(marker.position);
     map.fitBounds(bounds);

   }

   <% @stations.each do |station| %>
     addMarker(<%= station.lat %>, <%= station.long %>);
   <% end %>

 }

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBY5e6y9BV-anVv_aKGrlgMd_uxwi71PSQ&v=3&callback=initMap"></script>
