<form action="/stations/<%= @station.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <h1>Edit Station Information</h1>
  <input type="text" name="station[name]" value="<%= @station.name %>" /><br/>
  <input type="integer" name="station[dock_count]" value="<%= @station.dock_count %>" /><br/>
  <input type="integer" name="station[city_id]" value="<%= @station.city_id %>" /><br/>
  <input type="text" name="station[installation_date]" value="<%= @station.installation_date %>" /><br/>
  <input type="submit" value="Edit "/>
</form>
